<p><%= @current_question.question %></p>

<%= form_for @answer do |f| %>
  <div id="answer-question" class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer_content, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>
