<h5>Current question:</h5>
<% if current_user.has_answered_current_question?(@question, current_user) %>
  <%= "Thanks for answering today's question" %>
  <%= render "answers/all_answers" %>
<% else %>
  <%= render "questions/answer_question" %>
<% end %>

<%= link_to "All Questions", questions_path %><br>

<% if current_user.answers != [] %>
  <%= "Previously answered questions:" %>
  <ul>
    <% @previous_answered_questions.each do |question| %>
      <li><%= link_to question.question, question_path(question) %></li>
    <% end %>
  </ul>
<% end %>
